.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 4px;
}
.gap-2 {
  gap: 8px;
}
.gap-3 {
  gap: 12px;
}
.gap-4 {
  gap: 16px;
}

.align-items-center {
  align-items: center;
}

.rounded {
  border-radius: var(--border-radius);
}
.bg-highlight {
  background-color: var(--color-bg-highlight);
}
