.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.items-center {
  align-items: center;
}
